<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Clase_23.Entidades.Properties.Settings.ConexiónSQL"
            connectionString="Data Source=LAB4PC19\SQLEXPRESS;Initial Catalog=Personas;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>